* {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}
article {
	width: 700px;
	margin: 0 auto 150px auto;
}
article p {
	line-height: 30px;
	font-size: 12pt;
	margin-top: 18px;
}
h1 {
	font-size: 300%;
	margin: 0;
}
h3 {
	font-size: 200%;
	margin-top: 56px;
}
a {
	color: black;
}
article div {
	margin-right: 10px;
	display: flex;
	justify-content:space-between;
}
.firstimg {
	border-radius: 50%;
}
@media(max-width: 768px) {
	h1 {
		font-size: 225%;
	}
	h3 {
		font-size: 150%;
	}
	p {
		line-height: 25px;
		margin-top: 14px;
		margin-bottom: 0;
	}
	div {
		line-height: 25px;
		margin-top: 14px
	}
}
.additional {
	float:left;
}
* {
	box-sizing: border-box;
}

.button {
	background-color: transparent;
	color: #02B875;
	width: auto;
	height: 42px;
	border: 1px solid #02B875;
	padding: 12px 15px 0 15px;
	margin: 5px 10px;
	display: inline-block;
	font-size: .8rem;
	text-align: center;
	text-decoration: none;	
	border-radius: 30px;
}

section.commentContainer {
	width: 100%;
	height: 340px;
	background-color: #FAFAFA;
	padding: 30px 0;
	font-size: .8rem;
}

div.comments {
	width: 650px;
	margin: 0 auto;	
	
}

div.comments .button {
	border-color: rgba(0,0,0,.6);
	color: rgba(0,0,0,.6);
	height: 33px;
	padding: 9px;
	margin-left: 25px;
}

div.comments p {
	margin-left: 20px;
	color: rgba(0,0,0,.6);
}

.commentBox {
	width: 100%;
	height: 100px;
	background-color: white;
	margin-bottom: 10vh;
}

footer {
	background-color: #020633;
	width: 100%;
	color: white;
	text-align: center;
	height: 375px;
	padding: 60px 40px;
}

footer h2 {
	font-size: 1.8rem;
}

footer p {
	font-size: 1rem;
}

footer > div {
	width: 100%;
	height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer .button:first-child {
	background-color: #02B875;
	color: white;	
}
